In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
# Loading data
demographic_data <- read.csv("Module2_3/Module2_3_DemographicData.csv")
chemical_data <- read.csv("Module2_3/Module2_3_ChemicalData.csv")

In [3]:
# Viewing data
head(demographic_data)
head(chemical_data)

  ID BMI  MAge     MEdu BW       GA
1 1  27.7 22.99928 3    3180.058 34
2 2  26.8 30.05142 3    3210.823 43
3 3  33.2 28.04660 3    3311.551 40
4 4  30.1 34.81796 3    3266.844 32
5 5  37.4 42.68440 3    3664.088 35
6 6  33.3 24.94960 3    3328.988 40

  ID DWAs     DWCd     DWCr     UAs       UCd       UCr
1 1  6.426464 1.292941 51.67987 10.192695 0.7537104 42.60187
2 2  7.832384 1.798535 50.10409 11.815088 0.9789506 41.30757
3 3  7.516569 1.288461 48.74001 10.079057 0.1903262 36.47716
4 4  5.906656 2.075259 50.92745  8.719123 0.9364825 42.47987
5 5  7.181873 2.762643 55.16882  9.436559 1.4977829 47.78528
6 6  9.723429 3.054057 51.14812 11.589403 1.6645837 38.26386

In [8]:
# Merging to create one dataframe and also removing columns that aren't needed for this analysis
chemical_demographic_df = inner_join(demographic_data[,c(1,6)], chemical_data[,c(1,3,6)])
head(chemical_demographic_df)

Joining, by = "ID"

  ID GA DWCd     UCd
1 1  34 1.292941 0.7537104
2 2  43 1.798535 0.9789506
3 3  40 1.288461 0.1903262
4 4  32 2.075259 0.9364825
5 5  35 2.762643 1.4977829
6 6  40 3.054057 1.6645837

Now that we have one dataframe with both gestational age and cadmium data we can easily filter using the next few lines of code.

In [10]:
chemical_demographic_df %>%
    # Filtering for mothers that gave birth to babies that were at least 35 weeks old
    # Filtering for mothers with at least 1.5 micrograms/L urinary cadmium levels
    filter(GA > 35 & UCd > 1.5) %>%
    # Arranging the dataframe from highest to lowest cadmium levels
    arrange(-DWCd)

   ID  GA DWCd     UCd
1   52 43 3.611284 1.998909
2  194 39 3.142990 2.108238
3    6 40 3.054057 1.664584
4  147 39 3.004019 2.169481
5   58 42 2.885187 1.928381
6   70 37 2.841899 1.768664
7   22 43 2.808845 1.989105
8   91 39 2.752333 2.405193
9  156 41 2.738537 2.020627
10   9 39 2.727755 1.658576
11 190 42 2.583445 1.693536
12 122 39 2.505783 1.613179
13 121 37 2.486849 1.910452
14 174 43 2.387165 1.864387
15  54 43 2.379478 1.646654
16  67 41 2.351401 1.853122
17  94 42 2.188118 1.717359
18 198 38 2.023157 1.695486