# Supervised Machine Learning - Test Your Knowledge Key

In [1]:
library(readxl);
library(lubridate);
library(tidyverse);
library(gtsummary);
library(flextable);
library(caret);
library(randomForest);

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union


Warning message:
“package ‘ggplot2’ was built under R version 4.3.1”
Warning message:
“package ‘purrr’ was built under R version 4.3.1”
Warning message:
“package ‘dplyr’ was built under R version 4.3.1”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr   1.1.3     ✔ readr   2.1.4
✔ forcats 1.0.0     ✔ stringr 1.5.0
✔ ggplot2 3.4.3     ✔ tibble  3.2.1
✔ purrr   1.0.2     ✔ tidyr   1.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘flextable’


The following objects are masked from ‘package:gtsummary’:

    as_flextable, continuous_summary


The following object is masked from ‘package:purrr’:

    compose


Loading required package: lattice


Attaching package: ‘caret’


The following object is masked from ‘package:purrr’:

    lift


randomForest 4.7-1.1

Type rfNews() to see new features/changes/bug fixes.


Attaching package: ‘randomForest’


The following object is masked from ‘package:dplyr’:

    combine


The following object is masked from ‘package:ggplot2’:

    margin

In [2]:
# Load the data
manganese_data <- data.frame(read_excel("Module5/Module5_Manganese_Data.xlsx"))

# View the top of the dataset
head(manganese_data)

  Tax_ID  Water_Sample_Date Casing_Depth Well_Depth Static_Water_Depth
1 1006004 9/24/12           52           165        41
2 1024009 12/17/15          40           445        42
3 1054019 2/2/15            45           160        40
4 1057017 10/22/12          42           440        57
5 1060006 1/3/11            48           120        42
6 1066006 12/15/15          60           280        32
  Flow_Rate pH  Longtitude Latitude Stream_Distance Elevation
1 60.0      7.7 -80.29918  35.17970 811.9613        611.499
2  2.0      7.3 -80.31061  35.15487 341.7654        688.452
3 40.0      7.4 -80.33170  35.16158 634.2669        692.789
4  1.5      8.0 -80.32263  35.13962 855.4713        692.789
5 25.0      7.1 -80.32911  35.13027 163.5688        683.387
6 10.0      8.2 -80.32205  35.10479 725.7672        614.599
  Detect_Concentration
1 D
2 D
3 D
4 ND
5 D
6 D

Like we did in the module, we'll start by changing some of the data types.

In [3]:
manganese_data = manganese_data %>%
    # Converting `Detect_Concentration from a character to a factor
    mutate(Detect_Concentration = relevel(factor(ifelse(Detect_Concentration == "D", 1, 0)), ref = "0"),
        # converting water sample date from a character to a date type 
        Water_Sample_Date = mdy(Water_Sample_Date))

head(manganese_data)

  Tax_ID  Water_Sample_Date Casing_Depth Well_Depth Static_Water_Depth
1 1006004 2012-09-24        52           165        41
2 1024009 2015-12-17        40           445        42
3 1054019 2015-02-02        45           160        40
4 1057017 2012-10-22        42           440        57
5 1060006 2011-01-03        48           120        42
6 1066006 2015-12-15        60           280        32
  Flow_Rate pH  Longtitude Latitude Stream_Distance Elevation
1 60.0      7.7 -80.29918  35.17970 811.9613        611.499
2  2.0      7.3 -80.31061  35.15487 341.7654        688.452
3 40.0      7.4 -80.33170  35.16158 634.2669        692.789
4  1.5      8.0 -80.32263  35.13962 855.4713        692.789
5 25.0      7.1 -80.32911  35.13027 163.5688        683.387
6 10.0      8.2 -80.32205  35.10479 725.7672        614.599
  Detect_Concentration
1 1
2 1
3 1
4 0
5 1
6 1

Testing for differences in predictor variables acrosss the outcome classes.

In [4]:
manganese_data %>%
    tbl_summary(by = Detect_Concentration,
    # Selecting columns to include
    include = colnames(manganese_data[c(2:11)]), 
    # Displaying the mean and standard deviation in parantheses for all continuous variables
                statistic = list(all_continuous() ~ "{mean} ({sd})")) %>%
    # Adding a column that displays the total number of samples for each variable
    # This will be 713 for all variables since we have no missing data
    add_n() %>% 
    # Adding a column that dispalys the p value from anova
    add_p(test = list(all_continuous() ~ "aov")) %>% 
    #as_flex_table() %>%
    #bold(bold = TRUE, part = "header")
    as_tibble()

   **Characteristic** **N** **0**, N = 401
1  Water_Sample_Date  713   2013-05-28 (987.944026483201)
2  Casing_Depth       713   75 (34)
3  Well_Depth         713   314 (140)
4  Static_Water_Depth 713   35 (12)
5  Flow_Rate          713   23 (31)
6  pH                 713   7.48 (0.58)
7  Longtitude         713   -80.65 (0.13)
8  Latitude           713   34.97 (0.08)
9  Stream_Distance    713   632 (371)
10 Elevation          713   593 (59)
   **1**, N = 312                **p-value**
1  2013-04-27 (959.046268302005) 0.7
2  61 (27)                       <0.001
3  305 (141)                     0.4
4  35 (13)                       0.4
5  22 (29)                       0.6
6  7.64 (0.46)                   <0.001
7  -80.58 (0.14)                 <0.001
8  34.99 (0.10)                  0.005
9  669 (397)                     0.2
10 595 (53)                      0.6

4 predictor variables (casing depth, pH, longtitude, and latitude) are significantly different, so the model should be able to predict moderately well. 

Next, setting up cross validation and parameters to be tuned.

In [5]:
set.seed(12)

manganese_index = createFolds(manganese_data$Detect_Concentration, k = 5) 

ntree_values = c(50, 250, 500) # number of trees 
p = dim(manganese_data)[2] - 1 # number of predictor variables in the dataset
mtry_values = c(sqrt(p), p/2, p) # number of predictors to be used in the model

Predicting with RF

In [6]:
# Setting the seed again so the predictions are consistent
set.seed(12)

# Creating an empty dataframe to save the metrics
metrics_df = data.frame()

# Iterating through the cross validation folds
for (i in 1:length(manganese_index)){
    # Training data
    data_train = manganese_data[-manganese_index[[i]],]
    
    # Test data
    data_test = manganese_data[manganese_index[[i]],]
    
    # Creating empty lists and dataframes to store errors 
    reg_rf_pred_tune = list()
    rf_OOB_errors = list()
    rf_error_df = data.frame()
    
    # Tuning parameters: using ntree and mtry values to determine which combination yields the smallest OOB error 
    # from the validation datasets
    for (j in 1:length(ntree_values)){
        for (k in 1:length(mtry_values)){
            
            # Running RF to tune parameters
            reg_rf_pred_tune[[k]] = randomForest(Detect_Concentration ~ ., data = data_train, 
                                                 ntree = ntree_values[j], mtry = mtry_values[k])
            # Obtaining the OOB error
            rf_OOB_errors[[k]] = data.frame("Tree Number" = ntree_values[j], "Variable Number" = mtry_values[k], 
                                   "OOB_errors" = reg_rf_pred_tune[[k]]$err.rate[ntree_values[j],1])
            
            # Storing the values in a dataframe
            rf_error_df = rbind(rf_error_df, rf_OOB_errors[[k]])
        }
    }
    
    # Finding the lowest OOB error using best number of predictors at split
    best_oob_errors <- which(rf_error_df$OOB_errors == min(rf_error_df$OOB_errors))

    # Now running RF on the entire training set with the tuned parameters
    reg_rf <- randomForest(Detect_Concentration ~ ., data = data_train,
                               ntree = rf_error_df$Tree.Number[min(best_oob_errors)],
                               mtry = rf_error_df$Variable.Number[min(best_oob_errors)])

    # Predicting on test set and adding the predicted values as an additional column to the test data
    data_test$Pred_Detect_Concentration = predict(reg_rf, newdata = data_test, type = "response")

    # Obtaining the confusion matrix
    matrix = confusionMatrix(data = data_test$Pred_Detect_Concentration, 
                             reference = data_test$Detect_Concentration, positive = "1")
    
    # Extracting balanced accuracy, sensitivity, specificity, and PPV
    matrix_values = data.frame(t(c(matrix$byClass[11])), t(c(matrix$byClass[1:3])))
    
    # Adding values to df to be averaged across the 5 splits from CV
    metrics_df = rbind(metrics_df, matrix_values)
}

# Taking average
metrics_df = metrics_df %>%
    summarise(`Balanced Accuracy` = mean(Balanced.Accuracy), Sensitivity = mean(Sensitivity), 
          Specificity = mean(Specificity), PPV = mean(Pos.Pred.Value))

# Viewing the model's performance metrics
metrics_df

  Balanced Accuracy Sensitivity Specificity PPV
1 0.67025           0.5897593   0.7507407   0.644815

Takeaways from this confusion matrix:

+ Overall, the model performed moderately well at predicting if iAs would be detected based on a balanced accuracy of ~0.7
+ RF did an okay job of predicting detect data with a sensitivity and a PPV of ~0.6
+ The model was better at predicting non-detect data based on a specificity of ~0.8